---
export const prerender = false;
import Layout from "@/layouts/Layout.astro";
import { actions } from "astro:actions";

const emailResult = Astro.getActionResult(actions.emailActions.send);
if (emailResult) {
  console.log(emailResult);
  if (emailResult.data?.status === "success") {
    console.log("Email sent successfully!");
  } else if (emailResult.data?.status === "error") {
    console.error("Error sending email:", emailResult.error);
  }
}
---

<Layout>
  <section class="bg-white dark:bg-primary-light h-screen pt-20">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
      >
        Contactez-nous
      </h2>
      <p
        class="mb-8 lg:mb-16 font-light text-center text-bright dark:text-bright sm:text-xl"
      >
        Vous avez une idée, une suggestion, envie de participer ou de partager ?
        Contactez nous par email à contact@franck-maurence.org ou via le
        formulaire ci-dessous.
      </p>
      <form method="POST" action={actions.emailActions.send} class="space-y-8">
        <div>
          <div class="flex items-center justify-between gap-8">
            <div class="w-full">
              <label
                for="firstname"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Votre prénom</label
              >
              <input
                type="text"
                id="firstname"
                name="firstname"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                placeholder="prénom"
                required
              />
            </div>
            <div class="w-full">
              <label
                for="lastname"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Votre nom</label
              >
              <input
                type="text"
                id="lastname"
                name="lastname"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                placeholder="nom"
                required
              />
            </div>
          </div>
        </div>
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Votre email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="mon@email.com"
            required
          />
        </div>
        <div>
          <label
            for="subject"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Sujet</label
          >
          <input
            type="text"
            id="subject"
            name="subject"
            class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="Saisir l'objet de votre message"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Votre message</label
          >
          <textarea
            id="message"
            rows="6"
            name="message"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Votre message..."></textarea>
        </div>
        <div class="flex items-center">
          <input
            id="link-checkbox"
            type="checkbox"
            name="save"
            class="w-4 h-4 text-primary-light bg-gray-100 border-gray-300 rounded-sm focus:ring-primary dark:focus:ring-primary dark:ring-offset-primary focus:ring dark:bg-primary dark:border-primary"
          />
          <label
            for="link-checkbox"
            class="ms-2 text-sm font-medium text-gray-900 dark:text-bright"
            >Ajouter mon adresse mail dans la liste des contacts de l'assocition
            pour être informé des projets futurs</label
          >
        </div>
        <button
          type="submit"
          class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >Envoyer ✅</button
        >
      </form>
    </div>
  </section>
</Layout>

<script></script>
